#search {
	display: none;

	position: absolute;
	right: 25px;
	top: 98px;
	width: 400px;
	height: 60px;

	background-color: #ffffff;
	border: solid 1px #dddddd;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	z-index: 999;
}

	#search input {
		margin: 0px;
		padding: 0px;

		position: absolute;
		left: 7px;
		top: 7px;
		width: 384px;
		height: 44px;

		border: solid 1px #dddddd;

		font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
		font-size: 18px;
		text-align: center;

		-webkit-box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.2);
       	-moz-box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.2);
        box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.2);

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

		#search input:focus {
			outline: none;

			-webkit-box-shadow:inset 0 0 5px rgba(105, 200, 201, 1.0);
       		-moz-box-shadow:inset 0 0 5px rgba(105, 200, 201, 1.0);
        	box-shadow:inset 0 0 5px rgba(105, 200, 201, 1.0);
		}

	#search_results {
		position: absolute;
		left: 0px;
		top: 75px;

		width: 100%;
		height: auto;

		margin: 0px;
		padding: 0px;

		z-index: 9;
	}

		#search_results ul {			
			margin: 0px;
			padding: 0px;
		}

			#search_results li {
				display: inline-block; /* This removes the bullet for some reason... */

				margin: 0px;
				padding: 0px;

				width: 100%;
				height: auto;

				background-color: #bada55;

				font-size: 18px;
				line-height: 40px;
				text-align: center;
			}

				#search_results a {
					display: block;
				}

#footer {	
	width: 100%;
	height: 26px;

	padding-top: 3rem;
	padding-bottom: 115px;
}

	#footer ul {
		list-style-type: none;

		margin: 0px;
		padding: 0px;
	}

		#footer li {
			display: inline-block;

			margin: 0px;
			padding: 0px;

			width: calc(100% / 5.15); /* Haaaaaaacks */
		}

			#footer li img {
				margin: 0 auto;
				padding: 0px;
			}

.navigation_links {
	width: 45%; /* Fallback if needed */
	width: calc(50% - (98px + 25px)); /* The last px value is padding */
	height: 100%;
}

	.navigation_links ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}

		.navigation_links li {
			display: inline-block;

			width: 33%;
			line-height: 118px; /* Same as the navigation height */
			text-align: center;
		}

			.navigation_links a {
				display: block;

				color: #ffffff;
			}

#navigation {
	position: absolute;
	left: 0px;
	top: 0px;

	width: 100%;
	height: 118px;

	background-color: #000000;
}

	#left_nav, #right_nav {
		display: none;
	}

	#hamburger {
		display: block;
		cursor: pointer;

		position: absolute;
		right: 15px;
		top: 50%;
		width: 42px;
		height: 42px;

		margin-top: -21px;

		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}

		.patty {
			width: 24px;
			height: 4px;

			margin-left: -12px;
			margin-top: -2px;
		}

			#patty_top {
				position: absolute;
				top: 30%;
				left: 50%;

				background-color: #ffffff;
			}

			#patty_middle {
				position: absolute;
				top: 50%;
				left: 50%;

				background-color: #ffffff;
			}

			#patty_bottom {
				position: absolute;
				top: 70%;
				left: 50%;

				background-color: #ffffff;
			}

		#hamburger_menu {
			display: none;

			position: absolute;
			left: 0px;
			top: 118px;
			width: 100%;
			height: auto;

			padding-top: 115px;
			padding-bottom: 25px;

			background-color: #000000;
			list-style: none;

			z-index: 8;
		}

			#hamburger_menu ul {
				margin: 0px;
				padding: 0px;
				list-style: none;
			}

			#hamburger_menu li {
				display: inline-block;

				width: 100%;
				line-height: 55px; /* Same as the navigation height */
				text-align: center;
			}

				#hamburger_menu a {
					display: block;

					color: #ffffff;
					font-weight: bold;
				}

	#logo {
		position: absolute;
		left: 50%;
		top: 20px;

		width: 196px;
		height: 196px;

		margin-left: -98px;

		z-index: 9;
	}

@media (min-width: 50em) { /* This is the desktop version "settings" and above is mobile and general stuff */
	#navigation {
		position: absolute;
		left: 0px;
		top: 0px;

		width: 100%;
		height: 118px;

		background-color: #000000;
	}

		#hamburger {
			display: none;
		}

		#left_nav {
			display: block;

			position: absolute;
			left: 0px;
			top: 0px;
		}

		#logo {
			position: absolute;
			left: 50%;
			top: 20px;

			width: 196px;
			height: 196px;

			margin-left: -98px;
		}

		#right_nav {
			display: block;

			position: absolute;
			right: 0px;
			top: 0px;
		}

			#right_nav > ul > li > a > span { /* This is the magnifying glass glyph */
				display: inline-block;
				
				font-size: 35px;
				text-decoration: none;

				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
			}
}