#navigation {
	position: absolute;
	left: 0px;
	top: 0px;

	width: 100%;
	height: 148px;

	background-color: #000000;
}

	#navigation a {
		color: #000000;
	}

	#navigation_links {
		position: absolute;
		left: 2%;
		top: 0px;
		width: 98%;
		height: auto;
	}

		#navigation_links ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
		}

		#navigation_links li {
			display: inline-block;

			width: 16%;
			text-align: center;
		}

	#logo {
		position: absolute;
		left: 50%;
		top: 50px;

		width: 196px;
		height: 196px;

		margin-left: -98px;
	}