<div id = "footer">
	<ul>
		<li><a href = "http://www.twitter.com/stephiemillar"><img src = "http://stephaniemillar.github.io/images/footer/gmail.png"/></a></li>
		<li><a href = "http://www.twitter.com/stephiemillar"><img src = "http://stephaniemillar.github.io/images/footer/twitter.png"/></a></li>
		<li><a href = "http://www.twitter.com/stephiemillar"><img src = "http://stephaniemillar.github.io/images/footer/facebook.png"/></a></li>
		<li><a href = "http://www.twitter.com/stephiemillar"><img src = "http://stephaniemillar.github.io/images/footer/pinterest.png"/></a></li>
		<li><a href = "http://feeds.feedburner.com/stephaniemillar"><img src = "http://stephaniemillar.github.io/images/footer/rss.png"/></a></li>
	</ul>
</div>