<div id = "navigation">
	<div id = "navigation_links">
		<li><a href = "http://stephaniemillar.github.io/">Home</a></li>
		<li><a href = "http://stephaniemillar.github.io/reviews/">Reviews</a></li>
		<li><a href = "http://stephaniemillar.github.io/recipes/">Recipes</a></li>
		<li><a href = "http://stephaniemillar.github.io/reviews/">FAQ</a></li>
		<li><a href = "http://stephaniemillar.github.io/recipes/">Contact</a></li>
		<li><a href = "http://stephaniemillar.github.io/recipes/">Stuff</a></li>
	</div>

	<div id = "logo">
		<a href = "http://stephaniemillar.github.io">
			<img src = "http://stephaniemillar.github.io/images/logo.png" width = "196px" height = "196px">
		</a>
	</div>
</div>