<div id = "navigation">
	<div id = "left_nav">
		<a href = "http://stephaniemillar.github.io/reviews/">Reviews</a>
		<a href = "http://stephaniemillar.github.io/recipes/">Recipes</a>
	</div>

	<div id = "logo">
		<a href = "http://stephaniemillar.github.io">
			<img src = "http://stephaniemillar.github.io/images/logo.png" width = "196px" height = "196px">
		</a>
	</div>

	<div id = "right_nav">
		<a href = "http://stephaniemillar.github.io/reviews/">FAQ</a>
		<a href = "http://stephaniemillar.github.io/recipes/">Contact</a>
	</div>
</div>