<!-- Make sure to change links/text in both the lef_nav/right_nav divs AND the hamburger_menu div -->

<div id = "navigation">
	<div id = "left_nav" class = "navigation_links">
		<ul>
			<li><a href = "http://www.whynotarhino.com/">Home</a></li><li><a href = "http://www.whynotarhino.com/reviews/">Reviews</a></li><li><a href = "http://www.whynotarhino.com/recipes/">Recipes</a></li>
		</ul>
	</div>

	<div id = "logo">
		<a href = "http://stephaniemillar.github.io">
			<img src = "http://www.whynotarhino.com/images/logo.png" width = "196px" height = "196px" data-pin-no-hover = "true">
		</a>
	</div>

	<div id = "search">
		<input id = "search_box" onkeyup = "search()" onblur = "closeSearch()" type = "text" />
	</div>

	<div id = "right_nav" class = "navigation_links">
		<ul>
			<li><a href = "http://www.whynotarhino.com/about/">About</a></li><li><a href = "http://www.whynotarhino.com/faq/">FAQ</a></li><li><a href = "#" onclick = "toggleSearch()"><span>&#9906;</span></a></li>
		</ul>
	</div>

	<div id = "hamburger" onclick = "toggleMenu()">
		<div id = "patty_top" class = "patty"></div>
		<div id = "patty_middle" class = "patty"></div>
		<div id = "patty_bottom" class = "patty"></div>
	</div>

	<div id = "hamburger_menu">
		<ul>
			<li><a href = "http://www.whynotarhino.com/">Home</a></li>
			<li><a href = "http://www.whynotarhino.com/reviews/">Reviews</a></li>
			<li><a href = "http://www.whynotarhino.com/recipes/">Recipes</a></li>
			<li><a href = "http://www.whynotarhino.com/about/">About</a></li>
			<li><a href = "http://www.whynotarhino.com/faq/">FAQ</a></li>
		</ul>
	</div>
</div>