html{
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 90px;

	margin-bottom: 100px; /* Margin bottom same as footer height plus bottom padding */

	background-image: url('../images/crossword.png');
	background-repeat: both;

	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.navbar-default {
	background-color: #111111;
	border: none;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;

	margin: none;
	padding: none;

	/* navbar is rounded by default thanks to Bootstrap */
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

	.navbar-default active {
		border-top: solid 2px white;
	}

	.navbar-default a {
		color: #f6f6f6;
	}

	.navbar-default a:hover {
		color: #111111;
	}

	.navbar .nav > li > a {
		line-height: 30px;
	}

	.navbar-collapse {
		background-color: #111111;
	}

.row { /* Padding between rows */
	margin-top: 50px;
}

.moleskine {
	width: 100%;

	height: 222px;

	background-color: #39cccc;
}

	.logo {
		height: 135px;

		margin-top: 43px;
	}

.post {
	font-size: 16px;
}

	.post h4 {
		padding-bottom: 20px;
	}

.footer {
	position: absolute;
	bottom: 25px;
	width: 100%;
	height: 40px; /* Set the fixed height of the footer here */

	background-color: #39cccc;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 40px;
	text-align: center;
}

	.footer .icon {
		/* Thankfully I made the icons square */
		width: 25px;
		height: 25px;
	}