---
layout: default
---

<article class="post">
	<h1 class="post-title">{{ page.title }}</h1>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%B %-d, %Y" }}</time>
	{{ content }}
</article>

<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
(function () {
	var articleId = fyre.conv.load.makeArticleId(null);
	fyre.conv.load({}, [{
		el: 'livefyre-comments',
		network: "livefyre.com",
		siteId: "367178",
		articleId: articleId,
		signed: false,
		collectionMeta: {
			articleId: articleId,
			url: fyre.conv.load.makeCollectionUrl(),
		}
	}], function() {});
}());
</script>
<!-- END: Livefyre Embed -->

<!--
<aside class="related">
	<h2>Related Posts</h2>
	<ul class="related-posts">
		{% for post in site.related_posts limit:3 %}
			<li>
				<h3>
					<a href="{{ site.baseurl }}{{ post.url }}">
						{{ post.title }}
						<small><time datetime="{{ post.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time></small>
					</a>
				</h3>
			</li>
		{% endfor %}
	</ul>
</aside>
-->